<!DOCTYPE html>
   <html>
     <head>
       <meta charset="utf-8">
       <title>Django Subprocess Example</title>
     </head>
     <body>
       <h1>Run Subprocess Command</h1>
       <form method="post" action="{% url 'run_command' %}">
         {% csrf_token %}
         <button type="submit">Run Command</button>
       </form>
     </body>
   </html>