<!-- Add additional CSS in static file -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="js" href="{% static 'js/index.js' %}">

<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
</head>
<body>
    <h1>My Page</h1>
    <form method="post">
      {% csrf_token %}
    <button id="myButton" onclick="appendData()">Click me</button>
    <div id="contentContainer">
            <!-- Content will be appended here -->
    </div>
  </form>

<script>
// Retrieve the value of my_variable from Django view
var myVariable = "{{ output }}";
var output = "test";
  function appendData(){

    document.getElementById('myButton').addEventListener('click', function() {
            // var myVariable = "{{ output }}";
            // var output = "test";
            // Create a new HTML element
            var newElement = document.createElement('p');
            
            // Set the innerHTML of the new element to the value of my_variable
            newElement.innerHTML = myVariable;
            
            // Append the new element to the content container
            document.getElementById('contentContainer').appendChild(newElement);
            console.log(myVariable);
            // console.log(output);
        });

    // var get = document.getElementById('id');
    // get.innerHTML += myVariable;

    // Append the new element to the content container
    // document.getElementById('contentContainer').appendChild(newElement);

}
</script>

<!-- {% block content %}
<h1>Local Library Home</h1>

 <p>Welcome to <em>LocalLibrary</em>, a very basic Django website developed as a tutorial example on the Mozilla Developer Network.</p>

<h2>Dynamic content</h2>
<html>
<body>
    
    <form method="post">
      {% csrf_token %}
    <button id="myButton">Click me</button>
    </form>
    <div id="contentContainer">
         Content will be appended here
    </div>
  <div id = "id">
  <form method="post">
    {% csrf_token %}
    <input type="submit" onclick="appendData()" value="Trigger Command">
  </form>
  </div> -->
  <!-- <p>{{ output }}</p> 
</body>
</html>

{% endblock %} -->