<!DOCTYPE html>
<html class="html">
<head>
    <meta charset="UTF-8">
    <title>{{ message }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css">

<style>
.html {
  background-color: #F5F5F5;
}
.container {
  background-color: #F5F5F5;
  padding: 2rem;
  margin: 0 auto;
  max-width: 960px;
}

.title, .subtitle {
  text-align: justify;
  background-color: #F5F5F5;
  padding: 0.5rem;
  margin: 0;
}

.my-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #007bff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.my-link:hover {
  color: #0062cc;
  background-color: #f2f2f2;
}

.my-link:active {
  box-shadow: none;
  transform: translateY(2px);
}

</style>

</head>
<body class="container">
    <h1 class="title">
        {{ message }}
    </h1>
    <form method="post">
        {% csrf_token %}
    </form>
    {% if url %}
    <p class="subtitle">
        Workspace creado <br><br>
        Tu instancia de decidim està en la siguiente url: <br><br>
        <a href="{{ url }}" class="my-link" target="_blank">{{ url }}</a>
        <!-- <b>{{ url }}</b> -->
    </p>
    <!-- <pre>{{ output }}</pre> -->
    {% endif %}
</body>
</html>